body {
    /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */
    font: 100%/1.5 system-ui;
    font-family:serif;
    max-width: 100ch;
    margin-inline: max(1em, (100% - 100ch) / 2);
  }
  h1{
    font-size: 300%;
    line-height: 1.0;
    text-wrap: balance;
    text-align: center;
  }
  h2{
    font-size: 200%;
    text-wrap: balance;
    text-align: left;
    border-bottom-style: solid;
    border-width: 0.2ch;
    border-color: rgb(102, 51, 153);
  }
  h3{
    font-size: 180%;
    font-family: cursive;
    text-wrap: balance;
    text-align: center;
    background-color: oklch(from var(--turqouise) 95% 5% h);
    border-bottom-style:solid;
    border-width: 0.1ch;
    border-color: rgb(0,191,255);
  }
  h4{
    font-size: 120%;
    display: inline-block;
    text-wrap: balance;
    text-align: center;
    border-bottom-style:solid;
    border-width: 0.15ch;
    border-color: rgb(0, 0, 0);
  }
  img{
    max-width: 100%;
    max-height: 100%;
    height: auto;
    margin: auto;
  }
  .container{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    text-align: center;
  }
  .text{
    font-size: 18px;
    padding-left: 100px;
  }
  th{
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(236,236,236,1) 100%);
    padding: 5px;
    color: #343434;
    font-family: serif;
    font-size: 110%;
    border:2px solid #e0e0e0;
    text-align:left !important;
    }
  td{
      font-family: inherit;
    }
  table{
      border: 3px solid oklch(from var(--turqouise) 95% 5% h) !important;
      text-align: center;
      margin: auto;
    }
  :root{
    --turqouise: rgb(64, 224, 208);
  }
  html{
    accent-color: var(--turqouise);
  }
  nav{
    display: flex;
  }
  a{
    flex: 1;
    text-decoration: none;
    color: inherit;
    text-align: center;
    padding: 0.5em;
    margin-bottom: auto;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: oklch(80% 3% 200);
  }
  .Results{
    flex: 1;
    border-bottom-width: 0.4em;
    border-bottom-color: rgb(0,191,255);
    padding-bottom: 0.202em;
  }
  a:hover{
    border-bottom-width: 0.4em;
    border-bottom-color: rgb(102, 51, 153);
    padding-bottom: 0.202em;
    background-color: oklch(from var(--turqouise) 95% 5% h)
  }
  /* tr:nth-child(1){
    background-color: aquamarine;
  } */
  .tr1{
    background-color: oklch(from rgb(42, 219, 255)95% 5% h);
  }
  .ps{
    text-align: center;
  }
  button{
    flex: 1;
    border: none;
    font-family: serif;
    color: var(--turqouise);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 75px 250px;
    cursor: pointer;
    background-color: rgb(102, 51, 153);
    border-radius: 4px;
  }
  button:hover{
    background-color: oklch(from var(--turqouise) 95% 5% h);
  }